<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.fabianbleile.bakeryapp">/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:theme="resourceId:0x7f0c0005"
        android:label="resourceId:0x7f0b0020"
        android:icon="resourceId:0x7f0a0000"
        android:testOnly="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:roundIcon="resourceId:0x7f0a0001">
		<activity android:name="com.fabianbleile.bakeryapp.Activity.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:theme="resourceId:0x7f0c0005" android:label="resourceId:0x7f0b0020" android:name="com.fabianbleile.bakeryapp.Activity.DetailActivity" android:parentActivityName="com.fabianbleile.bakeryapp.Activity.MainActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Activity.MainActivity" />
		</activity>
		<activity android:name="com.fabianbleile.bakeryapp.Activity.StepActivity" />
		<receiver android:name="com.fabianbleile.bakeryapp.IngredientsWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="resourceId:0x7f0e0000" />
		</receiver>
		<service android:name="com.fabianbleile.bakeryapp.WidgetService" android:permission="android.permission.BIND_REMOTEVIEWS" />
		<meta-data android:name="android.support.VERSION" android:value="26.1.0" />
		<meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT" />
		<provider android:name="com.android.tools.ir.server.InstantRunContentProvider" android:multiprocess="true" android:authorities="com.fabianbleile.bakeryapp.com.android.tools.ir.server.InstantRunContentProvider" />
	</application>
</manifest>
